@import './base.css';



  #app {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center children */
    height: 100vh; /* Full viewport height */
    padding: 0 2rem;
  }

